#excluded directories
Dependencies/*
objectFiles/
build/CMakeFiles/
oldCompile/
compilePy/*

#excluded file types
*.dll
*.bat
*.exe
*.ini
*.txt
*.cmake

#excluded files
build/Makefile

#exceptions
!CMakelists.txt