#excluded directories
Dependencies/*
objectFiles/
build/CMakeFiles/
oldCompile/
compilePy/*
build/*
build1/*
.vscode/*

#excluded file types
*.dll
*.bat
*.exe
*.ini
*.txt
*.cmake

#exceptions
!CMakeLists.txt
!credit.txt